<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="image/images.jpg">

    <title>Weather APP</title>

    <link rel="canonical" href="images/images.jpg">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/homestyle.css">
  </head>

  <body class="text-center">
    <form action="/" class="form-signin" method="POST">
      <img class="mb-4" src="images/images.jpg" alt="" width="150" height="150">
      <h1 class="h3 mb-3 font-weight-normal">Enter City</h1>
      <input id="cityinput" type="text" name="cityName" class="form-control" placeholder="City name" required>
      <button class="btn btn-lg btn-primary btn-warning" type="submit">GO</button>
      <p class="mt-5 mb-3 text-muted">&copy; rcht</p>
    </form>
  </body>
</html>












    <!-- <div class= "box">
    <form action="/" method="POST">
    <label for="cityinput">City Name: </label>
    <input id="cityinput" type="text" name="cityName">
    <button type="submit">GO</button>
    </form>
</div> -->
