<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        * {
  padding: 0;
  margin: 0;
  /* font-family: "Jost", sans-serif; */
  font-family: "Quicksand", sans-serif;
}
        body {
            /* background-color: black;
            color: yellow; */
            background: black;
            /* background-image: url("https://cdn.vox-cdn.com/thumbor/YegVKRHwkSRzQCMXbVO3lKCh3Ao=/1400x1050/filters:format(png)/cdn.vox-cdn.com/uploads/chorus_asset/file/22656391/MarvelsAvengers_E3SEP_BlackPanther.png"); */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: 100vh;
            width: 100vw;
            color: yellow;
        }
        .box {
            /* background-color: blue;
            position: absolute;
            top: 30%;
            left: 40%;
            text-align: center; */
            width: 25vw;
            height: 30vh;
            border-radius: 0.5rem;
            box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
            /* background: #a5bbdd; */
            background: #7444bb;
            position: relative;
            overflow: hidden;
            transform: translate3d(0, 0, 0);
            text-align: center;
        }
    </style>
</head>
<body>
    <div class= "box">
    <form action="/" method="POST">
    <label for="cityinput">City Name: </label>
    <input id="cityinput" type="text" name="cityName">
    <button type="submit">GO</button>
    </form>
</div>
</body>
</html>